Repository AutoMQ/elastic-stream, pull requests merged in 2023-05, with the labels that each got.

#154 feat(pm): Seal range against placement manager with given end offset
  components/protocol/fbs/rpc.fbs
  placement-manager/api/rpcfb/rpcfb/ErrorCode.go
  placement-manager/pkg/sbp/client/client.go
  placement-manager/pkg/sbp/client/client_test.go
  placement-manager/pkg/sbp/client/response.go
  placement-manager/pkg/sbp/protocol/request.go
  placement-manager/pkg/sbp/protocol/response.go
  placement-manager/pkg/server/cluster/cache/cache.go
  placement-manager/pkg/server/cluster/cluster.go
  placement-manager/pkg/server/cluster/datanode.go
  placement-manager/pkg/server/cluster/datanode_test.go
  placement-manager/pkg/server/cluster/range.go
  placement-manager/pkg/server/cluster/stream.go
  placement-manager/pkg/server/handler/handler_test.go
  placement-manager/pkg/server/handler/range.go
  placement-manager/pkg/server/handler/range_test.go
  placement-manager/pkg/server/storage/endpoint/range.go
Labels: placement manager

#156 feat(pm): Get values from etcd in batch
  placement-manager/pkg/server/cluster/range.go
  placement-manager/pkg/server/cluster/stream.go
  placement-manager/pkg/server/storage/endpoint/range.go
  placement-manager/pkg/server/storage/endpoint/stream.go
  placement-manager/pkg/server/storage/kv/etcd.go
  placement-manager/pkg/server/storage/kv/etcd_test.go
  placement-manager/pkg/server/storage/kv/kv.go
  placement-manager/pkg/server/storage/kv/logger.go
Labels: placement manager

#161 feat(pm): Check operations count before commit transactions to etcd
  placement-manager/pkg/server/handler/handler_test.go
  placement-manager/pkg/server/id/etcd.go
  placement-manager/pkg/server/id/etcd_test.go
  placement-manager/pkg/server/server.go
  placement-manager/pkg/server/storage/endpoint/endpoint.go
  placement-manager/pkg/server/storage/endpoint/range.go
  placement-manager/pkg/server/storage/endpoint/stream.go
  placement-manager/pkg/server/storage/etcd.go
  placement-manager/pkg/server/storage/kv/etcd.go
  placement-manager/pkg/server/storage/kv/etcd_test.go
  placement-manager/pkg/server/storage/kv/kv.go
  placement-manager/pkg/server/storage/kv/logger.go
  placement-manager/pkg/util/etcdutil/kv.go
  placement-manager/pkg/util/etcdutil/kv_test.go
  placement-manager/pkg/util/etcdutil/txn.go
  placement-manager/pkg/util/etcdutil/txn_test.go
  placement-manager/pkg/util/testutil/etcd.go
Labels: placement manager

#179 refactor(pm): Separate `SealRange` and `CreateRange`
  components/protocol/fbs/rpc.fbs
  placement-manager/api/rpcfb/rpcfb/ErrorCode.go
  placement-manager/pkg/sbp/client/client_test.go
  placement-manager/pkg/sbp/codec/operation/operation.go
  placement-manager/pkg/sbp/codec/operation/operation_test.go
  placement-manager/pkg/sbp/protocol/request.go
  placement-manager/pkg/sbp/protocol/response.go
  placement-manager/pkg/sbp/server/handler.go
  placement-manager/pkg/server/cluster/datanode.go
  placement-manager/pkg/server/cluster/range.go
  placement-manager/pkg/server/handler/checker.go
  placement-manager/pkg/server/handler/range.go
  placement-manager/pkg/server/storage/endpoint/range.go
Labels: placement manager

#188 feat(pm/cluster): Check epoch before `CreateRange` and `SealRange`
  components/protocol/fbs/rpc.fbs
  placement-manager/api/rpcfb/rpcfb/ErrorCode.go
  placement-manager/pkg/server/cluster/range.go
  placement-manager/pkg/server/cluster/stream.go
  placement-manager/pkg/server/handler/range.go
Labels: placement manager

#194 fix(pm): Save index(DataNode, Range) when creating ranges
  placement-manager/pkg/sbp/server/handler.go
  placement-manager/pkg/server/cluster/range.go
  placement-manager/pkg/server/cluster/stream.go
  placement-manager/pkg/server/handler/handler_test.go
  placement-manager/pkg/server/handler/range_test.go
  placement-manager/pkg/server/handler/stream.go
  placement-manager/pkg/server/storage/endpoint/range.go
  placement-manager/pkg/server/storage/endpoint/stream.go
Labels: placement manager

#196 feat(pm): Collect DataNode metrics and use them to make decisions when creating ranges
  components/model/src/request/mod.rs
  components/protocol/fbs/rpc.fbs
  placement-manager/api/rpcfb/rpcfb/DataNodeMetrics.go
  placement-manager/api/rpcfb/rpcfb/ReportMetricsRequest.go
  placement-manager/pkg/sbp/client/client_test.go
  placement-manager/pkg/sbp/protocol/request.go
  placement-manager/pkg/sbp/protocol/response.go
  placement-manager/pkg/sbp/server/handler.go
  placement-manager/pkg/server/cluster/cache/cache.go
  placement-manager/pkg/server/cluster/datanode.go
  placement-manager/pkg/server/cluster/range.go
  placement-manager/pkg/server/handler/checker.go
  placement-manager/pkg/server/handler/datanode.go
  placement-manager/pkg/server/handler/datanode_test.go
  placement-manager/pkg/server/handler/pm.go
  placement-manager/pkg/server/handler/pm_test.go
Labels: enhancement, placement manager

#220 perf(pm): Better logs
  placement-manager/pkg/sbp/client/client_test.go
  placement-manager/pkg/sbp/client/main_test.go
  placement-manager/pkg/sbp/codec/format/format_test.go
  placement-manager/pkg/sbp/codec/format/main_test.go
  placement-manager/pkg/sbp/codec/main_test.go
  placement-manager/pkg/sbp/codec/operation/main_test.go
  placement-manager/pkg/sbp/codec/operation/operation_test.go
  placement-manager/pkg/sbp/protocol/main_test.go
  placement-manager/pkg/sbp/server/main_test.go
  placement-manager/pkg/server/cluster/cache/main_test.go
  placement-manager/pkg/server/cluster/main_test.go
  placement-manager/pkg/server/config/log.go
  placement-manager/pkg/server/config/log_test.go
  placement-manager/pkg/server/config/main_test.go
  placement-manager/pkg/server/election/leadership.go
  placement-manager/pkg/server/handler/handler_test.go
  placement-manager/pkg/server/handler/main_test.go
  placement-manager/pkg/server/id/etcd_test.go
  placement-manager/pkg/server/id/main_test.go
  placement-manager/pkg/server/member/member.go
  placement-manager/pkg/server/server.go
  placement-manager/pkg/server/storage/endpoint/main_test.go
  placement-manager/pkg/server/storage/kv/etcd.go
  placement-manager/pkg/server/storage/kv/etcd_test.go
  placement-manager/pkg/server/storage/kv/main_test.go
  placement-manager/pkg/util/etcdutil/kv_test.go
  placement-manager/pkg/util/etcdutil/main_test.go
  placement-manager/pkg/util/logutil/main_test.go
  placement-manager/pkg/util/randutil/main_test.go
  placement-manager/pkg/util/traceutil/main_test.go
  placement-manager/pkg/util/typeutil/conversion_test.go
  placement-manager/pkg/util/typeutil/main_test.go
Labels: placement manager

#233 fix(pm): Get all placement manager nodes info
  placement-manager/pkg/server/cluster/cluster.go
  placement-manager/pkg/server/cluster/main_test.go
  placement-manager/pkg/server/handler/datanode.go
  placement-manager/pkg/server/handler/handler.go
  placement-manager/pkg/server/handler/handler_test.go
  placement-manager/pkg/server/handler/range.go
  placement-manager/pkg/server/handler/stream.go
  placement-manager/pkg/server/member/info.go
  placement-manager/pkg/server/member/main_test.go
  placement-manager/pkg/server/member/member.go
  placement-manager/pkg/server/member/member_test.go
  placement-manager/pkg/server/server.go
Labels: placement manager

#319 fix(data-node): Fix append
  components/model/src/record/flat_record.rs
  data-node/src/handler/append.rs
Labels: bug, data node

#326 fix(data-node): Make AppendRecordRequest#payload contain complete AppendEntr…
  components/model/src/record/flat_record.rs
  components/store/src/request.rs
Labels: bug, data node
