Repository AutoMQ/elastic-stream, pull requests merged in 2023-06, with the labels that each got.

#410 fix(pm/handler): Separate `UnknownAction` and `UnsupportedAction`
  placement-manager/pkg/sbp/server/handler.go
Labels: enhancement, placement manager

#444 fix(pm/handler): No need to check leader when handling `ReportMetrics…
  placement-manager/pkg/server/handler/datanode.go
Labels: bug, placement manager

#445 perf(pm/cluster): Decrease log level on some read actions
  placement-manager/pkg/server/cluster/range.go
  placement-manager/pkg/server/cluster/stream.go
Labels: enhancement, placement manager

#450 perf(dn/cli): Support args from env
  Cargo.toml
  data-node/src/cli.rs
Labels: enhancement, data node

#459 fix(pm): Add logs
  placement-manager/pkg/sbp/server/connection.go
  placement-manager/pkg/server/cluster/range.go
  placement-manager/pkg/server/config/log.go
Labels: placement manager

#472 fix(log): Print a log in only one line
  components/client/src/composite_session.rs
  components/client/src/error.rs
  components/client/src/response.rs
  components/replication/src/stream/replication_range.rs
  components/store/src/bin/io.rs
  data-node/src/handler/fetch.rs
  sdks/frontend-rs/src/frontend.rs
  sdks/frontend-rs/src/stream.rs
Labels: enhancement

#483 feat(rs-sdk): Set log level in env
  components/model/src/record/mod.rs
  sdks/frontend-rs/src/log.rs
  sdks/frontend-rs/src/stream.rs
Labels: enhancement, client

#484 fix(rs-sdk): Hide `body` in requests in logs
  components/client/src/composite_session.rs
Labels: enhancement, client

#517 feat(ci): Release data-node on tagging
  .github/workflows/data_node_release.yml
  dist/data-node/DEBIAN/control
  dist/data-node/DEBIAN/postinst
  dist/data-node/etc/data-node/.gitignore
  dist/data-node/usr/local/bin/.gitignore
  scripts/package_deb.sh
Labels: feature

#537 fix(store): Atomic flush should use rocksdb_flush_cfs_opt, explicitly specifying column families involved
  Cargo.lock
  Cargo.toml
  components/store/src/index/indexer.rs
Labels: bug, data node

#558 feat(pm): Round-robin choose data nodes
  placement-manager/pkg/server/cluster/cluster.go
  placement-manager/pkg/server/cluster/datanode.go
Labels: placement manager

#591 feat(pm/log): Make durations in logs more readable
  placement-manager/pkg/sbp/server/connection.go
  placement-manager/pkg/server/config/log.go
Labels: placement manager

#598 chore(workflow): Merge jobs in `release.yml`
  .github/workflows/release.yml
Labels: infra

#599 chore(workflow): Build PM before DN to avoid dirty version
  .github/workflows/release.yml
Labels: infra

#614 chore(make): Range Server packages in multi arch
  .github/workflows/release.yml
  .gitignore
  .vscode/settings.json
  Cross.toml
  Makefile
  dist/range-server/DEBIAN/control
  dist/range-server/etc/range-server/.gitignore
  dist/range-server/usr/local/bin/.gitignore
  pd/Makefile
Labels: range server, infra

#615 chore(workflow): Install cross
  .github/workflows/release.yml
Labels: bug, infra
